* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.section1{
    height: 80px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    height: 60px;
    width: 120px;
}
.logo-img{
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.upper {
    color: #cccccc;
    font-size: 1rem;
}
.lower{
    font-size: 1.4rem;
}
.location-icon{
    display: flex;
    align-items: center;
}
.search-section{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 60px;
    border-radius: 4px;
}
.drop-down{
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none
}
.input-box{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.search-section:hover{
    border: 2px solid orange;
}
span{
    font-size: 0.9rem;
}
.account{
    font-size: 1rem;
    font-weight: 700;
}
.cart i{
    font-size: 40px;
}
.cart{
    font-size: 1rem;
    font-weight: 700;
}
.section2 {
    height: 60px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.section2-contents p {
    display: inline;
    margin-left: 15px;
}
.section2-contents{
    width: 77%;
    font-size: 1rem;
}
.section2-deals {
    font-size: 1rem;
    font-weight: 700;
}
.section3 {
    background-image: url(./images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.section3-content {
    background-color: white;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 95%;
    margin-bottom: 30px;
}
.section3-content a{
    color: #007185;
}
.section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.section4-divs {
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 10px 0px 5px;
    margin-top: 15px;
    font-size: 15px;
}
.divs-img {
    height: 250px;
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divs-content {
    margin-left: 15px;
    margin-right: 15px;
}
.divs-content p {
    color: #007185;
}
.footer {
    margin-top: 20px;
}
.footer1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.footer2 {
    background-color: #222f3d;
    color: white;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin-top: 20px;
}
ul p {
    font-weight: 700;
}
ul a {
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color: #dddddd;
}
.footer3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.footer4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.85rem;
    text-align: center;
}
.footer-content {
    padding: 15px;
}
.copyright {
    padding-top: 0px;
}